@import '../../common/styles/variables.scss';

.schedule {
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        // padding: $offset__medium;
        background: $medium-color__blue;
        position: relative;

        //TODO перенести на уровень выше
        margin-top: $offset__small;
        // TODO в last-child
        padding-bottom: $offset__small;

        & > .schedule__row {
            margin: $offset__small;
            margin-bottom: 0px;
            margin-left: 0px;
        }

        // &> .schedule__row:last-child {
        //     margin-bottom: $offset__small;
        // }
    }

    &__row {
        height: 100%;
        padding: $offset__small;
        padding-left: 0px;
        background: $white-color;
        border: solid 1px $gray-color__1;
        position: relative;
        overflow: hidden;

        .order-flight-cell {
            position: absolute;
            height: calc(100% - 16px);
            background: $medium-color__yellow;
            padding: $offset__small;
            box-sizing: border-box;

            &__label {
                font-size: $text-size__ultra-small;
                font-weight: bold;
                color: $focus-color__red;
            }
        }
    }

    &__timeline {
        position: absolute;
        width: 2px;
        height: 100%;
        background: $dark-color__red;        
    }

    
}