@import '../../../../common/styles/scheduleStyles.scss';

@include order-flight-cell;

.order-flight-cell {
    &.inactive {
        background: $gray-color__1;
    }
    
    &.canceled {
        background: $focus-color__red;
        > .order-flight-cell__content > .order-flight-cell__label {
            color: $white-color;
        }
    }
}
