@import '../../common/styles/scheduleStyles.scss';

@include schedule;

.order-schedule {
    &__container {
        overflow: auto;
        display: flex;
        flex-direction: row;

        @include scrollbar;
    }
}

.timeline-container {
    height: auto;
    position: relative;
}