@import '../../common/styles/variables.scss';

.tails-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
        margin-right: $offset__ultra-small;
        margin-bottom: $offset__ultra-small;
    }

    & > div:last-child {
        margin-right: 0px;        
    }
}
