@import './variables.scss';

@mixin schedule {
        .schedule {
        &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            background: $medium-color__blue;
            position: relative;
            border-radius: $border-radius__large;

            & > .schedule__rows > .schedule__row {
                margin: $offset__small;
                margin-bottom: 0px;
                margin-left: 0px;

                &.last {
                    margin-bottom: $offset__small;
                }
            }
        }

        &__timeline {
            position: absolute;
            width: 2px;
            height: 100%;
            background: $dark-color__red;        
        }  

        &__rows {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
        }
    
        &__row {
            height: 100%;
            padding: $offset__small;
            padding-left: 0px;
            background: $white-color;
            border: solid 1px $gray-color__1;
            position: relative;
            overflow: hidden;
        }
    }
}

@mixin order-flight-cell {
    .order-flight-cell {
        position: absolute;
        height: calc(80% - 16px);
        background: $medium-color__yellow;
        padding: $offset__small;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        
        &__content {
            display: flex;
            flex-direction: column;
            padding-left: $offset__small;
            @include ellipsis-text;
        }
    
        &__label {
            font-size: $text-size__ultra-small;
            font-weight: bold;
            color: $focus-color__red;
            @include ellipsis-text;
        }
    
        &__airports {
            font-size: $text-size__ultra-small;
            @include ellipsis-text;                
        }
    
        &__add-approach-flight {
            height: calc(100% - 8px);
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
    
            &:hover {
                background: $focus-color__red;
            }
        }
    
        & > span {
            margin-left: $offset__small;
        }
    }
}