$offset__large: 32px;
$offset__medium: 16px;
$offset__medium-small: 14px;
$offset__small: 8px;
$offset__ultra-small: 4px;
$offset__little: 2px;

$border-radius__large: 8px;
$border-radius__medium: 4px;

$white-color: white;
$light-color: #fee5d0;
$medium-color__yellow: #dfc16d;
$medium-color__blue: #b6d8d8;
$focus-color__green: #5c9506;
$focus-color__red: #ff3e33;
$dark-color__red: #c33529;
$gray-color__1: #a5a5a5;
$gray-color__2: slategrey;

$text-color__dark: #320c00;

$text-size__large: 1.5em;
$text-size__medium: 1.2em;
$text-size__small: 1em;
$text-size__ultra-small: 0.8em;

@mixin scrollbar {

    &::-webkit-scrollbar {
        width: 0.8em;
    }

    &::-webkit-scrollbar-thumb {
    background-color: $medium-color__blue;
    outline: 1px solid #{$gray-color__2};
    border: solid 1px $gray-color__1;
    border-radius: $border-radius__medium;
    }
}

@mixin progressbar {
    .progressbar__container {
        width: 100%;
        height: 20px;
        background: $white-color;
        margin-top: 4px;
        border: solid 1px gray;
        border-radius: 4px;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .progressbar__bar {
        height: 20px;
        background: powderblue;
        border: solid 1px gray;
        border-radius: 4px;
        margin-left: -4px;
        margin-top: -1px;
        position: relative;
        box-sizing: border-box;
        background: rgb(255,255,255);
        background: repeating-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,238,238,1) 10%, rgba(95,158,160,1) 11%, rgba(95,158,160,1) 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(95,158,160,1) 31%, rgba(95,158,160,1) 40%, rgba(251,251,251,1) 41%, rgba(253,253,253,1) 50%, rgba(95,158,160,1) 51%, rgba(95,158,160,1) 60%, rgba(250,250,250,1) 61%, rgba(255,255,255,1) 70%, rgba(95,158,160,1) 71%, rgba(95,158,160,1) 80%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 90%, rgba(95,158,160,1) 91%, rgba(95,158,160,1) 100%);    
    }
}

@mixin ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


