@import '../../common/styles/variables.scss';

.flight-list-container {
    padding-top: $offset__small;
    padding-left: $offset__small;

    & > .flight__container {
        margin-bottom: $offset__small;
    }

    &:last-child {
        margin-bottom: 0px;
    }

}
