@import '../../../common/styles/variables.scss';

.flight {
    &__container {
        background: $light-color;
        padding: $offset__medium;
        padding-right: $offset__small;
    }

    &__name {
        font-size: 1em;
        font-weight: bold;
        color: $focus-color__red;
    }

    &__header {
        display: flex;
        flex-direction: column;
        
        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .small-font {
            font-size: $offset__medium-small;
        }

        .left {
            justify-content: left;
            & > div:last-child {
                margin-left: $offset__medium;
            }
        }
        
    }

    &__control-buttons {
        display: flex;
        flex-direction: row;
    }

    &__expand-button {
        margin-right: $offset__small;
        background: $dark-color__red;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        border-radius: 6px;
        font-size: $text-size__small;
        font-family: monospace;
        font-weight: bold;
        color: $white-color;
        cursor: pointer;
    }
}

.enableDrop {
    background: greenyellow;
    border-color: greenyellow;
}

.disableDrop {
    background: orangered;
    border-color: orangered;
}

.ended {
    background: $gray-color__1;
}
