@import '../../common/styles/variables.scss';

.timeline {
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: $text-size__large;

    &__current-time {
        margin-right: $offset__medium;
    }

    &__button {
        margin-right: $offset__small;
        margin-right: $offset__ultra-small;
        background: $focus-color__red;
        height: 32px;
        width: 32px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius__medium;
        font-weight: bold;
        color: $white-color;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
            font-size: 1.0em;
        }

        &.hidden {
            display: none;
        }
    }

    & > div.budget {
        margin-left: $offset__large;
        display: flex;
        align-items: center;
        font-size: 1.3em;
        height: 1.3em;
        
        & > span {
            display: flex;
            align-items: center;
            margin-bottom: $offset__ultra-small;
            height: 1em;
        }
    }

    .disabled {
        background: $dark-color__red;
        cursor: default;
    }    
}

.currency-sign {
    font-size: 1.4em;
}