@import '../../common/styles/variables.scss';

.timeline {
    display: flex;
    align-items: center;

    &__current-time {
        margin-right: $offset__medium;
        font-family: monospace;
        font-size: $text-size__large;
    }

    &__button {
        margin-right: $offset__small;
        margin-right: 4px;
        background: $focus-color__red;
        height: 32px;
        width: 32px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: $text-size__large;
        font-family: monospace;
        font-weight: bold;
        color: $white-color;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
            font-size: 1.0em;
        }
    }

    .disabled {
        background: $dark-color__red;
        cursor: default;
    }    
}