@import '../../../../common/styles/variables.scss';

// TODO правильно выставить шкалу 
.progressbar__container {
    width: 100%;
    height: 16px;
    background: $white-color;
    margin-top: 4px;
    border: solid 1px gray;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.progressbar__bar {
    height: 16px;
    background: powderblue;
    border: solid 1px gray;
    border-radius: 4px;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
    box-sizing: border-box;
    background: rgb(255,255,255);
    background: repeating-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(227,238,238,1) 10%, rgba(95,158,160,1) 11%, rgba(95,158,160,1) 20%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(95,158,160,1) 31%, rgba(95,158,160,1) 40%, rgba(251,251,251,1) 41%, rgba(253,253,253,1) 50%, rgba(95,158,160,1) 51%, rgba(95,158,160,1) 60%, rgba(250,250,250,1) 61%, rgba(255,255,255,1) 70%, rgba(95,158,160,1) 71%, rgba(95,158,160,1) 80%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 90%, rgba(95,158,160,1) 91%, rgba(95,158,160,1) 100%);    
}