.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tails__item {
  width: 100px;
  border-radius: 8px;
  background: cadetblue;
  padding: 8px;
  color: white;
  margin: 9px;
  box-shadow: 1px 6px 9px rgba(0,0,0,0.5);
  cursor: pointer;
}

.tails__container {
  width: 136px;
  margin: 16px;
  padding-bottom: 8px;
  border: 1px solid #80808057;
  border-radius: 8px;
  height: 100%;
}

.tails__container h2 {
  margin: 8px;
}

.flights__item {
  width: 100px;
  border-radius: 8px;
  background: cadetblue;
  padding: 8px;
  color: white;
  margin: 9px;
  box-shadow: 1px 6px 9px rgba(0,0,0,0.5);
  
}

.flights__container {
  width: 170px;
  margin: 16px;
  padding-bottom: 8px;
  border: 1px solid #80808057;
  border-radius: 8px;
  height: 100%;
}

.flights__container h2 {
  margin: 8px;
}

.page__container {
  display: flex;
 
}

h1 {
  margin-left: 20px;
}

.timeline__container {
  margin-left: 20px;
}