/* .routes__lines {
    stroke: black;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: dash 1000s linear;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 100;
    }
  } */